# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=clientes_bdb

# Server
APP_MODE=dev
APP_NAME=customers-dev
APP_LOG_MESSAGE=Ejecutando en DEV
SERVER_PORT=8080

# SendGrid
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=remitente-verificado@tudominio.com
SENDGRID_FROM_NAME=Clientes BDB
SENDGRID_REPLY_TO=clientesbdb@bdb.com